In [1]:
import numpy as np
import pandas as pd

## Question 1

What's the version of Pandas that you installed? \
You can get the version information using the __version__ field:

In [2]:
pd.__version__

'2.0.3'

## Getting the data

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-20 00:46:09--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  3.74MB/s    in 0.4s

2023-09-20 00:46:10 (3.74 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [5]:
df = pd.read_csv('housing.csv')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2
How many columns are in the dataset?

In [7]:
n_columns = df.shape[1]
print(f'Number of columns is: {n_columns}')

Number of columns is: 10

## Question 3
Which columns in the dataset have missing values?

In [8]:
df.isnull().sum()[df.isnull().sum() > 0]

total_bedrooms    207
dtype: int64

## Question 4
How many unique values does the ocean_proximity column have?

In [9]:
df.ocean_proximity.nunique()

5

## Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [10]:
df[df.ocean_proximity == 'NEAR BAY']['median_house_value'].mean().round(2)

259212.31

## Question 6
Calculate the average of total_bedrooms column in the dataset. \
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step. \
Now, calculate the average of total_bedrooms again. \
Has it changed?

In [19]:
original_mean_total_bedrooms = df.total_bedrooms.mean().round(3)
print(f'The average of total_bedrooms column in the dataset is {original_mean_total_bedrooms}')
df.total_bedrooms.fillna(original_mean_total_bedrooms, inplace=True)
updated_mean_total_bedrooms = df.total_bedrooms.mean().round(3)
print(f'The average of total_bedrooms column in the dataset after filling missing values is {updated_mean_total_bedrooms}')

The average of total_bedrooms column in the dataset is 537.871
The average of total_bedrooms column in the dataset after filling missing values is 537.871

## Question 7
Select all the options located on islands. \
Select only columns housing_median_age, total_rooms, total_bedrooms. \
Get the underlying NumPy array. Let's call it X. \
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX. \
Compute the inverse of XTX. \
Create an array y with values [950, 1300, 800, 1000, 1300]. \
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w. \
What's the value of the last element of w?

In [35]:
subset_data = df[df.ocean_proximity == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]
X = subset_data.values
XTX = X.T.dot(X)
XTX_inverse = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inverse.dot(X.T).dot(y)
print(f'Value of the last element of w: {w[-1].round(4)}')

Value of the last element of w: 5.6992